In [163]:
import pandas as pd

## Triplet Bert Related Eval Results

In [164]:
from sklearn.metrics import accuracy_score,f1_score,recall_score,precision_score

# SCAR

In [165]:
df = pd.read_csv("../Evaluation/pers_Trbrid_margin1_bs24_lr2e_5_epoch15_raw_score.csv")

In [166]:
df

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

# logits evaluation results

In [167]:
f1_score(df.gold,df.predict_label)

0.8033536585365854

In [168]:
precision_score(df.gold,df.predict_label)

0.8132716049382716

In [169]:
recall_score(df.gold,df.predict_label)

0.7936746987951807

# distance evaluation results

In [170]:
f1_score(df.gold,df.distance_label)

0.7849223946784921

In [171]:
precision_score(df.gold,df.distance_label)

0.7706821480406386

In [172]:
recall_score(df.gold,df.distance_label)

0.7996987951807228

# consistent cases (logtis prediction == distance prediction)

In [173]:
df_consistency = df[df.predict_label==df.distance_label]

In [174]:
df_consistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

In [175]:
f1_score(df_consistency.gold,df_consistency.distance_label)

0.8353552859618716

In [176]:
precision_score(df_consistency.gold,df_consistency.distance_label)

0.8253424657534246

In [177]:
recall_score(df_consistency.gold,df_consistency.distance_label)

0.8456140350877193

# Logits experiments of consistent cases

In [178]:
df_logits_diff = df_consistency[abs(df_consistency.undermine_score-df_consistency.support_score)>11.7]
df_logits_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
56,-6.740227,6.935597,0.017248,1.656932,1,1,1
82,-6.699821,6.198657,0.017356,1.790910,1,1,1
176,7.776163,-5.735231,1.865803,0.175052,0,0,0
178,8.175444,-6.853647,1.905149,0.082175,0,0,0
179,7.822188,-5.983000,1.871615,0.071257,0,0,0
...,...,...,...,...,...,...,...
2516,7.405044,-6.452584,1.447262,0.201506,0,0,0
2517,6.648351,-6.019004,1.416802,0.236846,0,0,0
2518,6.778597,-5.306126,1.339745,0.412176,0,0,0
2520,7.552144,-6.467586,1.450673,0.491035,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0

In [179]:
f1_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8676470588235294

In [180]:
precision_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.9365079365079365

In [181]:
recall_score(df_logits_diff.gold,df_logits_diff.distance_label)

0.8082191780821918

# Distance experiments of consistent cases

In [182]:
df_distance_diff = df_consistency[abs(df_consistency.cp_distance-df_consistency.cop_distance)>1.9]
df_distance_diff

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
14,4.973082,-5.446892,1.975014,0.038279,0,0,0
22,-2.595918,5.513531,0.011529,1.970146,1,1,1
27,-2.784658,5.825409,0.007447,1.957864,1,1,1
28,-2.574459,5.599093,0.028452,1.954338,1,1,1
...,...,...,...,...,...,...,...
2485,5.284534,-5.954888,1.962560,0.002266,0,0,0
2486,4.911831,-5.589746,1.951874,0.001502,0,0,0
2490,-2.891952,5.763986,0.001604,1.929383,1,1,1
2491,-2.285798,5.668227,0.008553,1.960932,1,1,1
2493,-2.277760,5.606550,0.010047,1.973817,1,1,1

In [183]:
f1_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9526066350710901

In [184]:
precision_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9262672811059908

In [185]:
recall_score(df_distance_diff.gold,df_distance_diff.distance_label)

0.9804878048780488

# the whole cases

In [186]:
df_inconsistency = df

In [187]:
df_consistency = df[df.predict_label==df.distance_label]

In [188]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

# Consistent cases

In [189]:
#consistent cases analysis

In [190]:
consistent_logits_median = abs(df_consistency.undermine_score-df_consistency.support_score).median()
consistent_logits_median

8.884409999999999

In [191]:
consistent_logits_mean = abs(df_consistency.undermine_score-df_consistency.support_score).mean()
consistent_logits_mean

9.326155330841113

In [192]:
consistent_logits_max =abs(df_consistency.undermine_score-df_consistency.support_score).max()
consistent_logits_max

23.471

In [193]:
consistent_logits_min = abs(df_consistency.undermine_score-df_consistency.support_score).min()
consistent_logits_min

0.018043279999999995

In [194]:
consistent_distance_median = abs(df_consistency.cp_distance-df_consistency.cop_distance).median()
consistent_distance_median

1.5762243029999998

In [195]:
consistent_distance_mean = abs(df_consistency.cp_distance-df_consistency.cop_distance).mean()
consistent_distance_mean

1.298490790877556

In [196]:
consistent_distance_max = abs(df_consistency.cp_distance-df_consistency.cop_distance).max()
consistent_distance_max

1.9834033666000002

In [197]:
consistent_distance_min = abs(df_consistency.cp_distance-df_consistency.cop_distance).min()
consistent_distance_min

0.00021850000000001035

# all cases analysis

In [198]:
inconsistent_logits_median = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).median()
inconsistent_logits_median

8.583245699999999

In [199]:
inconsistent_logits_mean = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).mean()
inconsistent_logits_mean

8.835066144437594

In [200]:
inconsistent_logits_max = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).max()
inconsistent_logits_max

23.471

In [201]:
inconsistent_logits_min = abs(df_inconsistency.undermine_score-df_inconsistency.support_score).min()
inconsistent_logits_min

0.009783112999999996

In [202]:
inconsistent_distance_median = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).median()
inconsistent_distance_median

1.4037365

In [203]:
inconsistent_distance_mean = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).mean()
inconsistent_distance_mean

1.1513442817425168

In [204]:
inconsistent_distance_max = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).max()
inconsistent_distance_max

1.9834033666000002

In [205]:
inconsistent_distance_min = abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance).min()
inconsistent_distance_min

8.82149999999974e-06

In [206]:
import flyingsquid
from numpy.random import seed, rand
import itertools
import numpy as np

In [207]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1

In [208]:
df_inconsistency[abs(df_inconsistency.undermine_score-df_inconsistency.support_score)>5.5]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
0,-4.223587,3.430138,0.020014,0.012879,1,0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
...,...,...,...,...,...,...,...
2519,6.098404,-4.817781,1.277633,0.138542,0,0,0
2520,7.552144,-6.467586,1.450673,0.491035,0,0,0
2521,3.317570,-3.755074,1.281456,1.372968,0,1,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1

In [209]:
df_inconsistency[abs(df_inconsistency.cp_distance-df_inconsistency.cop_distance)>1.6]

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold
1,4.980137,-5.918371,1.923178,0.001339,0,0,0
5,-2.957279,5.612340,0.010343,1.754936,1,1,1
6,-2.915035,5.855358,0.004241,1.868177,1,1,1
8,-2.915035,5.855358,0.004241,1.868177,1,1,1
9,-3.204367,4.770818,0.006627,1.694313,1,1,1
...,...,...,...,...,...,...,...
2496,-2.799630,5.131019,0.060273,1.893408,1,1,0
2500,-3.813086,4.495462,0.271768,1.895788,1,1,1
2501,-4.395286,5.101991,0.220880,1.886694,1,1,1
2505,11.233323,-9.810861,1.917536,0.242908,0,0,0
2507,10.904087,-9.416132,1.907659,0.099717,0,0,0

In [523]:
df_inconsistency["snorkel_logits_17"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_17==0 else 1, axis=1)
df_inconsistency.snorkel_logits_17=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<5  else x.snorkel_logits_17, axis=1)

In [524]:
df_inconsistency["snorkel_logits_37"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_37==0 else 1, axis=1)
df_inconsistency.snorkel_logits_37=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<5.5  else x.snorkel_logits_37, axis=1)

In [525]:
df_inconsistency["snorkel_logits_57"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_57==0 else 1, axis=1)
df_inconsistency.snorkel_logits_57=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<8.6 else x.snorkel_logits_57, axis=1)

In [526]:
df_inconsistency["snorkel_logits_77"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_77==0 else 1, axis=1)
df_inconsistency.snorkel_logits_77=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<11  else x.snorkel_logits_77, axis=1)

In [527]:
df_inconsistency["snorkel_logits_97"]=df_inconsistency.predict_label
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: -1 if x.snorkel_logits_97==0 else 1, axis=1)
df_inconsistency.snorkel_logits_97=df_inconsistency.apply(lambda x: 0 if abs(x.undermine_score-x.support_score)<13  else x.snorkel_logits_97, axis=1)

In [528]:
df_inconsistency["snorkel_distance_01"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_01==0 else 1, axis=1)
df_inconsistency.snorkel_distance_01=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.01  else x.snorkel_distance_01, axis=1)

In [529]:
df_inconsistency["snorkel_distance_03"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_03==0 else 1, axis=1)
df_inconsistency.snorkel_distance_03=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<0.2  else x.snorkel_distance_03, axis=1)

In [530]:
df_inconsistency["snorkel_distance_05"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_05==0 else 1, axis=1)
df_inconsistency.snorkel_distance_05=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.1  else x.snorkel_distance_05, axis=1)

In [531]:
df_inconsistency["snorkel_distance_07"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_07==0 else 1, axis=1)
df_inconsistency.snorkel_distance_07=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.5  else x.snorkel_distance_07, axis=1)

In [532]:
df_inconsistency["snorkel_distance_09"]=df_inconsistency.distance_label
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: -1 if x.snorkel_distance_09==0 else 1, axis=1)
df_inconsistency.snorkel_distance_09=df_inconsistency.apply(lambda x: 0 if abs(x.cp_distance-x.cop_distance)<1.9  else x.snorkel_distance_09, axis=1)

In [533]:
df_inconsistency["snorkel_label"]=df_inconsistency.gold
df_inconsistency.snorkel_label = df_inconsistency.apply(lambda x: -1 if x.snorkel_label==0 else 1, axis=1)

In [534]:
df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09,snorkel_label
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,-1.0,-1.0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,1
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,-1
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,0.0,-1
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In [535]:
drop_name = ["snorkel_logits_57","snorkel_logits_77","snorkel_logits_97","snorkel_distance_05","snorkel_distance_07"]

In [536]:
df_inconsistency.iloc[:,-11:-1].drop(drop_name,axis=1)
# df_inconsistency.iloc[:,-10:-1]

,snorkel_logits_17,snorkel_logits_37,snorkel_distance_01,snorkel_distance_03,snorkel_distance_09
0,1.0,1.0,0.0,0.0,0.0
1,-1.0,-1.0,-1.0,-1.0,-1.0
2,1.0,1.0,0.0,0.0,0.0
3,0.0,0.0,-1.0,0.0,0.0
4,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...
2522,0.0,0.0,-1.0,0.0,0.0
2523,-1.0,-1.0,-1.0,-1.0,0.0
2524,1.0,0.0,1.0,1.0,0.0
2525,1.0,1.0,1.0,1.0,0.0
2526,0.0,0.0,1.0,0.0,0.0

In [537]:
df_inconsistency.iloc[:,-11:-1].drop(drop_name,axis=1).values
# df_inconsistency.iloc[:,-10:-1].values

array([[ 1.,  1.,  0.,  0.,  0.],
       [-1., -1., -1., -1., -1.],
       [ 1.,  1.,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  1.,  1.,  0.],
       [ 1.,  1.,  1.,  1.,  0.],
       [ 0.,  0.,  1.,  0.,  0.]])

In [538]:
df_inconsistency.snorkel_label.values

array([ 1, -1,  1, ...,  1,  1,  1], dtype=int64)

In [539]:
# L_dev = df_inconsistency.iloc[:,-11:-1].values
L_dev = df_inconsistency.iloc[:,-11:-1].drop(drop_name,axis=1).values

In [540]:
Y_dev = df_inconsistency.snorkel_label.values

In [541]:
# df_L_train = pd.read_csv("../stance_code_local/finetuned_L_train_entiretest.csv")
df_L_train = df_inconsistency

In [542]:
# df_L_train.iloc[:,-11:-1]
df_L_train.iloc[:,-11:-1].drop(drop_name,axis=1)

,snorkel_logits_17,snorkel_logits_37,snorkel_distance_01,snorkel_distance_03,snorkel_distance_09
0,1.0,1.0,0.0,0.0,0.0
1,-1.0,-1.0,-1.0,-1.0,-1.0
2,1.0,1.0,0.0,0.0,0.0
3,0.0,0.0,-1.0,0.0,0.0
4,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...
2522,0.0,0.0,-1.0,0.0,0.0
2523,-1.0,-1.0,-1.0,-1.0,0.0
2524,1.0,0.0,1.0,1.0,0.0
2525,1.0,1.0,1.0,1.0,0.0
2526,0.0,0.0,1.0,0.0,0.0

In [543]:
# df_L_train.iloc[:,-11:-1].values
df_L_train.iloc[:,-11:-1].drop(drop_name,axis=1).values

array([[ 1.,  1.,  0.,  0.,  0.],
       [-1., -1., -1., -1., -1.],
       [ 1.,  1.,  0.,  0.,  0.],
       ...,
       [ 1.,  0.,  1.,  1.,  0.],
       [ 1.,  1.,  1.,  1.,  0.],
       [ 0.,  0.,  1.,  0.,  0.]])

In [544]:
# L_train = df_L_train.iloc[:,-11:-1].values
L_train = df_L_train.iloc[:,-11:-1].drop(drop_name,axis=1).values

In [545]:
from flyingsquid.label_model import LabelModel

In [546]:
# m = 10
m = 5

label_model = LabelModel(m)

In [547]:
label_model.fit(L_train)

In [548]:
preds = label_model.predict(L_dev).reshape(Y_dev.shape)
accuracy = np.sum(preds == Y_dev) / Y_dev.shape[0]

# print('Label model accuracy: {}%'.format(int(100 * accuracy)))
f1_score(Y_dev,preds)

0.8115615615615616

In [494]:
precision_score(Y_dev,preds)

0.8091317365269461

In [495]:
recall_score(Y_dev,preds)

0.8140060240963856

In [496]:
majority_vote_preds = np.array([1 if pred > 0 else -1 for pred in np.sum(L_dev, axis=1)])
majority_vote_accuracy = np.sum(majority_vote_preds == Y_dev) / Y_dev.shape[0]

# print('Majority vote accuracy: {}%'.format(int(100 * majority_vote_accuracy)))
f1_score(Y_dev,majority_vote_preds)

0.8100789770590447

In [75]:
# df_inconsistency["snorkel_predict"] = preds
# df_inconsistency.snorkel_predict=df_inconsistency.apply(lambda x: 0 if x.snorkel_predict==-1 else 1, axis=1)

In [76]:
# df_inconsistency

,undermine_score,support_score,cp_distance,cop_distance,predict_label,distance_label,gold,snorkel_logits_17,snorkel_logits_37,snorkel_logits_57,snorkel_logits_77,snorkel_logits_97,snorkel_distance_01,snorkel_distance_03,snorkel_distance_05,snorkel_distance_07,snorkel_distance_09,snorkel_label,snorkel_predict
0,-4.223587,3.430138,0.020014,0.012879,1,0,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
1,4.980137,-5.918371,1.923178,0.001339,0,0,0,-1.0,-1.0,-1.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1,0
2,-4.051531,3.098645,0.004558,0.010478,1,1,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
3,-1.659985,2.563246,0.277413,0.157976,1,0,1,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,1,0
4,-1.103358,5.317815,0.293655,1.842567,1,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2522,2.155837,-1.537567,1.053408,0.922337,0,0,0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,-1,0
2523,6.712749,-5.522651,1.332932,0.112898,0,0,0,-1.0,-1.0,-1.0,-1.0,0.0,-1.0,-1.0,-1.0,0.0,0.0,-1,0
2524,-2.778294,2.587539,0.518143,1.368011,1,1,1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1,1
2525,-3.157147,3.050995,0.483791,1.372143,1,1,1,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1,1
2526,0.692743,0.942525,0.609729,0.659963,1,1,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1

In [6972]:
# f1_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.8115615615615616

In [6973]:
# precision_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.8091317365269461

In [6974]:
# recall_score(df_inconsistency.gold,df_inconsistency.snorkel_predict)

0.8140060240963856

In [6976]:
# df_inconsistency.to_csv("./paper_out/SCAR505586111300102111519_eval_result.csv",index=False)

L1

In [81]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8102217211574596 0.808702175543886 0.8117469879518072

L2

In [238]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8015267175572519 0.8126934984520123 0.7906626506024096

L3

In [257]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8115615615615616 0.8091317365269461 0.8140060240963856

L4

In [309]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8115615615615616 0.8091317365269461 0.8140060240963856

L5

In [327]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8115615615615616 0.8091317365269461 0.8140060240963856

L6

In [344]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8038095238095239 0.8134155744024673 0.7944277108433735

L7

In [362]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8099173553719008 0.808095952023988 0.8117469879518072

L8

In [380]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8115615615615616 0.8091317365269461 0.8140060240963856

L9

In [398]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8115615615615616 0.8091317365269461 0.8140060240963856

L10

In [416]:
print(f1_score(Y_dev,preds),
precision_score(Y_dev,preds),
recall_score(Y_dev,preds))

0.8097744360902255 0.8085585585585585 0.8109939759036144